/vendor/
/var/
/cache/
*.log
/download/*

/img/*
!/img/.htaccess
!/img/index.php
!/img/404.gif
!/img/app_icon.png
!/img/bg_500.png
!/img/bg_loader.png
!/img/favicon.ico
!/img/loader.gif
!/img/loadingAnimation.gif
!/img/logo_invoice.jpg
!/img/logo_stores.png
!/img/macFFBgHack.png
!/img/prestashop-avatar.png
!/img/prestashop@2x.png
!/img/preston-login-wink@2x.png
!/img/preston-login@2x.png
!/img/questionmark.png
!/img/jquery-ui
!/img/scenes
!/img/admin
!/img/genders
!/img/t
!/img/flags
!/img/l
!/img/os

!/img/c
!/img/cms
!/img/co
!/img/e
!/img/m
!/img/p
!/img/pr
!/img/st
!/img/su
!/img/tmp

/img/c/*
/img/cms/*
/img/co/*
/img/e/*
/img/m/*
/img/p/*
/img/pr/*
/img/st/*
/img/su/*
/img/tmp/*

!/img//index.php
!/img//default.jpg
!/img/p/*.jpg
!/img/p.jpg

/upload/*
/modules/totcustomfields/uploads/image/*
!/upload/index.php
!/upload/.htaccess